body {
  margin: 15px;
}

a {
  text-decoration: none;
  margin-right: 20px;
}

.activeLink {
  text-decoration: none;
  border-bottom: 2px solid blue;
  scroll-behavior: auto;
}

.logo {
  width: 100px;
  height: 50px;
}

.appName {
  text-align: center;
  font-size: 40px;
  padding-left: 20px;
}

.borderBottom {
  border-bottom: 1px solid #888;
}

.headerWithProfile {
  display: flex;
  border-bottom: 1px solid #888;
  justify-content: space-between;
  margin: 20px;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.navBar {
  border-bottom: 1px solid #888;
  margin: 20px;
}

.bookImage {
  margin-right: 20px;
  width: 150px;
  height: 200px;
}

.bookDetail {
  margin: 20px;
  display: flex;
}

.book {
  padding: 10px;
  text-align: center;
  width: 100px;
  margin: 15px;
}

.bookGallery {
  display: flex;
  flex-wrap: wrap;
}
