body {
  margin: 15px;
}

a {
  text-decoration: none;
  margin-right: 20px;
}

.logo {
  width: 100px;
  height: 50px;
}

.appName {
  text-align: center;
  font-size: 40px;
  padding-left: 20px;
}

.header {
  display: flex;
}

.headerWithProfile {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  box-shadow: 0 1.6px 0 #ccc;
}

.homePage {
  width: 60%;
  height: 60%;
  margin-top: 20vh;
  margin-left: 40vh;
  line-height: 60px;
}

.loginBtn {
  margin: 10px;
  padding: 10px 5px;
  width: 150px;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  border-color: #eee;
}

.loginBtn:hover {
  background-color: #ccc;
}

.githubSignIn {
  margin-left: 18vh;
}

.logInBox {
  width: 40vw;
  height: 24vh;
  align-items: center;
  justify-content: center;
  top: 200px;
  left: 56vh;
  position: absolute;
  box-shadow: 0 0 5px #ccc;
}

.activeLink {
  text-decoration: none;
  border-bottom: 2px solid blue;
  scroll-behavior: auto;
}

.borderBottom {
  border-bottom: 1px solid #888;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 40px;
}

.dropDown {
  right: 30px;
  border: 1px solid #aaa;
  background-color: white;
  cursor: pointer;
  position: absolute;
  z-index: 9;
}

.dropDown > div {
  padding: 10px;
  border-bottom: 1px solid #aaa;
}

.dropDown > div:hover {
  background-color: #ccc;
}

.navBar {
  border-bottom: 1px solid #888;
  margin: 20px;
}

.bookImage {
  margin-right: 20px;
  width: 150px;
  height: 200px;
}

.bookDetail {
  margin: 20px;
  display: flex;
}

.book {
  padding: 10px;
  text-align: center;
  width: 100px;
  margin: 15px;
}

.bookGallery {
  display: flex;
  flex-wrap: wrap;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.button {
  margin: 10px;
  width: 100px;
  border-radius: 4px;
}

.available {
  background-color: rgb(71, 187, 121);
}

.notAvailable {
  background-color: rgb(241, 107, 107);
}

.textColor {
  color: black;
}

.borrowBtn {
  background-color: rgb(71, 179, 187);
  cursor: pointer;
}

.backBtn {
  background-color: rgb(187, 74, 127);
  cursor: pointer;
}

.inputBox {
  margin: 20px;
}
